@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Roboto-SemiBold;
  src: url(./assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

:root {
  --color-black: hsla(0, 0%, 0%, 1);
  --color-black-lighter: hsl1(235, 35%, 7%, 1);
  --color-pink: hsla(342, 100%, 60%, 1);
  --color-gray: hsla(0, 0%, 87%, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/* ! Basic Styles */

.wrapper {
  min-height: 100vh;
  color: var(--color-black);
}

h1,
h2,
h3 {
  font-family: Roboto-SemiBold;
}

h1 {
  font-size: 3.375rem;
  margin-bottom: 1.125rem;
  color: var(--color-black-lighter);
}

h2 {
  font-size: 2.375rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-family: Roboto-Bold;
  font-size: 1.17rem;
}

p {
  font-family: Roboto-Light;
}

/* ! Header */

header {
  background: url(./assets/images/ilustracion1.png) no-repeat top right;
  background-size: 50vw;
  padding-top: 2.375rem;
  padding-left: 6vw;
}

.header-logo {
  margin-bottom: 21.875rem;
  color: var(--color-black-lighter);
}

.header-logo p:nth-of-type(1) {
  font-family: Roboto-SemiBold;
  font-size: 1.5rem;
}

.header-logo p:nth-of-type(2) {
  font-family: Roboto-Regular;
  font-size: 0.75rem;
}

.header-content {
  padding-left: 3.375rem;
  max-width: 35vw;
  margin-bottom: 9.375rem;
}

.header-content p:nth-of-type(1) {
  font-size: 1.125rem;
  font-family: Roboto-Light;
  line-height: 2rem;
  margin-bottom: 3.5rem;
}

.header-content p:nth-of-type(1) img {
  width: 28px;
}

.header-content p:nth-of-type(2) {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--color-pink);
  font-family: Roboto-Bold;
}

/* ! Hero Section */

.hero-section {
  margin-bottom: 15.875rem;
}

/* ! Idea Section */

.idea-section {
  padding-left: 10vw;
  padding-right: 20vw;
  display: flex;
  flex-direction: column;
}

.idea-section div {
  display: flex;
  gap: 4vw;
  margin-bottom: 6.875rem;
}

.idea-section div h2 {
  width: 20vw;
}

.idea-section div h2 img {
  width: 60px;
}

.idea-section div p {
  width: 42vw;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.idea-section > h2 {
  padding-left: 3.75rem;
  width: 50vw;
  margin-bottom: 12rem;
}

/* ! Ideas Grid Section */

.ideas-grid {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw 10vw;
  margin-bottom: 17rem;
}

.ideas-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 28vw;
}

.ideas-items article {
  display: flex;
}

.ideas-items article img {
  width: 32px;
  margin-right: 1.5625rem;
}

.ideas-items p {
  margin-left: 3.6rem;
  line-height: 1.75rem;
}

/* ! Lets Go Section */

.letsgo-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 28vw;
  margin-bottom: 9.375rem;
}

.letsgo-section h3 {
  margin-bottom: 1.5rem;
}

.letsgo-section p {
  font-size: 14px;
}

/* ! Steps Section */

.steps-section {
  display: flex;
  flex-direction: column;
}

.steps-section article {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 9.375rem;
}

.steps-section article div {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-bottom: 6.875rem;
}

.steps-section article div p:nth-of-type(1) {
  font-family: Roboto-Bold;
  color: var(--color-gray);
  font-size: 3.25rem;
  margin-bottom: 2.8125rem;
}

.steps-section article div img {
  width: 45px;
  margin-bottom: 1.375rem;
}

.steps-section article div h4 {
  margin-bottom: 1.25rem;
}

.steps-section article div p:nth-of-type(2) {
  font-size: 0.875rem;
  line-height: 1.75rem;
}

/* ? Step 1 */

.steps-section article:nth-of-type(1) {
  background: url(./assets/images/step01.png) no-repeat left;
  background-size: contain;
}

/* ? Step 2 */

.steps-section article:nth-of-type(2) {
  background: url(./assets/images/step02.png) no-repeat right;
  background-size: contain;
  flex-direction: row-reverse;
}

/* ? Step 3 */

.steps-section article:nth-of-type(3) {
  background: url(./assets/images/step03.png) no-repeat left;
  background-size: contain;
}

/* ? Step 4 */

.steps-section article:nth-of-type(4) {
  background: url(./assets/images/step04.png) no-repeat right;
  background-size: contain;
  flex-direction: row-reverse;
  margin-bottom: 12.5rem;
}
